<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript">

</script>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<!-- bootstrap.. -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<title>MyWork</title>
</head>

	<body>
		<!-- 상단 네비게이션 바 -->
		<div class="navbar navbar-inverse navbar-fixed-top">
		      <div class="container">
		        <div class="collapse navbar-collapse">
		          <ul class="nav navbar-nav">
		            <li><a href="/meMain">Me</a></li>
		            <li><a href="/portMain">My Development Part</a></li>
		            <li><a href="/mySkillMain">My Skill</a></li>
		            <li class="active"><a href="/contactMain">Contact</a></li>
		          </ul>
		        </div>
		      </div>
		</div>
		
		<div class="container">
		      <div style="margin-top: 100px;">
		      		<p>* email : midas602461@gmail.com</p>
		      </div>
		</div>
	</body>
</html>




