<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<script type="text/javascript">
	
	
</script>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<!-- bootstrap.. -->
	<!-- 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	 -->
	
	<!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">
	<title>김태준 - 포트폴리오</title>
</head>

<body>
	<!-- 상단 네비게이션 바 -->
	<!-- 
	<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="/meMain">Me</a></li>
	            <li class="active"><a href="/portMain">My Development Part</a></li>
	            <li><a href="/mySkillMain">My Skill</a></li>
	            <li><a href="/contactMain">Contact</a></li>
	          </ul>
	        </div>
	      </div>
	</div>
	
	 -->
	<!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <img src="img/my_image_rect.jpg" alt="" style="width: 80px; height: 100px; margin-right: 10px;">
        <a class="navbar-brand js-scroll-trigger" href="#">Kim Taejun</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/portMain">Portfolio</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/meMain">Skill</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/meMain">About</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/meMain">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

	<div class="container">
	      <div style="margin-top: 150px;">
		       <table style="width: 100%">
					<thead>
						<tr>
							<th class="text-uppercase mb-4" th:text="플랫폼"></th>
							<th class="text-uppercase mb-4" th:text="프로젝트"></th>
							<th class="text-uppercase mb-4" th:text="개발일자"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="list : ${pArray}">
							<td class="lead mb-0" th:text="${list.port_type}"></td>
							<td><a class="lead mb-0" th:href="@{/portDetail(seq=${list.seq})}" th:text="${list.title}"></a></td>
							<td class="lead mb-0" th:text="${list.work_date}"></td>
						</tr>
					</tbody>
				</table>
				<!-- 
				<div>
					<a th:text="add" th:href="@{/setPortPage}"></a>
				</div>
				 -->
	      </div>
	</div>
	
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>
</body>
</html>
